<div class="headboard">
  <h2>Otros temas de tu interés</h2>
</div>
<div class="row">
  <div *ngFor="let card of cards" class="col-lg-6">
    <div class="col-lg-12">
      <div class="card govco-card">
        <div class="row">
          <div class="col-sm-4col-md-4 col-lg-4 divimage">
            <img class="card-img govco-card-image" src="{{card.url}}"/>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card-header govco-card-header">
              <p>{{card.titulo}}</p>              
            </div>
            <div class="card-body">
              <p>{{card.description}}</p>
              <a href="#" class="btn btn-low-mix-govco">
                <span class="btn-govco-text">{{card.ir}}</span>
                <span class="govco-icon govco-icon-simpler-arrow"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>