.contenedor{
    width: 90%;
    margin-left: 5%;
}

a{
    text-align: justify;
    color: #0B457F;
}

.divimage{
    height: 50%;
    margin-top: 2%;   
}
p{
    color: #0B457F;
    text-align: justify;
}