<nav class="navbar navbar-expand-lg fixed-top navbat-expanded flex-column nav-pills nav-fill navbar-govco ">
    <div class="navbar-container container">
        <div class="navbar-logo float-left">
            <a class="navbar-brand">
                <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible"
                aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-first-menu float-right">
            <div class="nav-primary mx-auto hidden-transition">
                <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
                </ul>
            </div>
            <div class="nav-item-primary ml-auto mr-2">
                <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
                    <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm" type="search"
                        placeholder="Buscar " aria-label="Search" name="searchTerm" id="search-desktop" />
                    <span class="govco-icon govco-icon-search-cn icon-search notranslate"></span>
                </div>
                <span class="govco-icon govco-icon-language-en-n lang-govco ml-3"></span>
                <span class="govco-icon govco-icon-user-n lang-govco ml-3"></span>
                <p>Iniciar Sesión</p>
            </div>
        </div>
    </div>
    <div class='nav-secondary show-transition ' id="nav-secondary">
        <div class="container">
            <div class="collapse navbar-collapse navbar-first-menu">
                <ul class="navbar-nav w-100 d-flex nav-items nav-items-desktop">
                    <li class="nav-item " *ngFor="let item of items">
                        <a href="{{item.url}}" class="nav-link">{{item.titulo}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
</nav>

<div class="page-header bg-main ">    
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="text-center div-espacios">
                        <h1 class="headline-xxl-govco"> ¡Te damos la bienvenida!</h1>
                    </div>
                    <div class="search-block">
                        
                            <div id="box" class="box">

                                
                                    <div class="input-group form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
                                        <input class="form-control my-0 py-1search-navbar search-desktop-searchTerm searchTerm" type="search"
                                            placeholder="Buscar " aria-label="Search" name="searchTerm" id="search-desktop" />
                                            <div class="input-group-append">
                                        <span class="input-group-text govco-icon govco-icon-search-cn icon-search notranslate"></span>
                                        </div>
                                    </div>                        

                                <div id="hint"></div>
                            </div>

                    </div>
                    <div class="text-center div-espacioi">
                        <h2 class="headline-xl-govco"> Toda la oferta del Estado colombiano a tu alcance</h2>
                    </div>
                </div>
            </div>
        </div>
    
</div>