.page-header.bg-main {
    background-image: url("src/assets/images/banner.jpg");
}

.page-header{
    min-height: 30rem;
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}
p{
    color: white;
}
h1{
    color: white;
    font-family: "Montserrat";
}

.navbar-govco {
    background-color: #36c;
    font-size: 0.75rem;
    padding: 0;
    flex-flow: column;
}

.hydrated {
    visibility: inherit;
}

h2{
    color: white;
    font-family: "Montserrat";
    padding: 50
}

.div-espacios{
    margin-top: 30px;

}

.div-espacioi{
    margin-top: 50px;
}

.box{
    margin-top: 20px;
}