.card-body {
    margin: -50px 0 0 35px;
    background-color: white;
    border-radius: 15px;
    padding: 15px 10px 20px 10px;
    box-shadow: 0px 0px 10px #999;
    width: 95%;
    position: relative;
}