<div class="contenedor">

    <div class="row">
        <div class="lg-8 divborder">
            <div class="headboard">
                <h2>Queremos conocer tu opinión</h2>
            </div>
            <div class="divborder2" *ngFor="let lista of listas">

                <div class="alert  {{lista.estilo}} " role="alert">
                    {{lista.alerta}}
                </div>
                <p class="subtitle-govco">{{lista.titulo}}</p>
                <span class="span1">{{lista.description}}</span>
                <div class="divborder3">
                    
                    <span class="btn-govco-text span1">{{lista.ir}}</span></div>
            </div>
            <div class="divt">
            <a href="#" class="btn btn-low-mix-govco">
                <span class="btn-govco-text">Conocer otros ejercicios de participación</span>
                <span class="govco-icon govco-icon-simpler-arrow"></span>
              </a>
            </div>


        </div>
        <div class="lg-4 divborder1">
            <div class="">
                <div class="card-body">
                    <p class="subtitle-govco">Cuéntanos </p>
                    <p class="description-govco">¿Como podemos mejorar GOV.CO?</p>
                    <span class="small-text-govco">Estamos construyendo este espacio para ti y tu opinión nos ayuda a
                        crecer</span>
                    <div class="textarea-govco">
                        <div class="div-character" id="divtextarea-example"><textarea class="form-control"
                                id="textarea-example" maxlength="255" placeholder="Escribe aquí tu opinión"
                                rows="5"></textarea>
                            <div class="div-count-character"><span class="hidden span-message-character"
                                    id="messagetextarea-example">Alcanzó el máximo de carácteres permitidos</span><span
                                    class="float-right pr-3 span-count-character" id="counttextarea-example">255</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button href="#" class="btn btn-round boton">Enviar mi opinión</button>
                </div>
            </div>
        </div>
    </div>
</div>