.contenedor{   
    padding: 15px 10px 40px 10px;
}

.divborder{
    width: 60%;
    margin-left: 30px;
}

.divborder2{
    width: 90%;
    margin-left: 52px;    
}

.divborder3{
    width: 100%;
    text-align: right; 
    border-bottom: 1px solid #E6EFFD;  
    border-top: -10px;
}

.divt{
    text-align: right;   
}

.divborder1{
    border: #36c;
    border-style: solid;
    border-width: 1px;
    margin-left: 0px;
    /* margin: -50px 0 0 35px; */
    background-color: white;
    border-radius: 15px;
    padding: 15px 10px 20px 10px;
    box-shadow: 0px 0px 10px #999;
    width: 35%;
    position: relative;
}

.boton {
    color: #36c!important;
    border-color: #36c;
    background-color: #fff;
}


.btn-round {
    border-radius: 30px;
    padding: .535em 2em;
    white-space: pre-line;
    border: 1.5px solid;
    font-family: "Work Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.5!important;
    margin: 1rem .5rem;
}

p{
    color: #0B457F!important;
}

.alerta{
    background-color: #F3561F;
    width: 50%;
    color: white;
    padding: 2px 10px;
}

.span1{
    color: #0B457F ;
}

.alerta2{
    background-color: #069169;
    width: 50%;
    color: white;
    padding: 2px 10px;
}

.alerta3{
    background-color: #3772FF;
    width: 50%;
    color: white;
    padding: 2px 10px;
}