<footer>
    <div class="footer page__footer footer-white footer-blue">
    <div class="container">
      <div class="footer-container" id="footer-container">
        <div class="footer-title d-flex  bd-highlight">
          <h2 class="title-footer">Contáctanos</h2>
        </div>
        <div
          class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight">
          <div class="item-footer" *ngFor="let lista of listas">
            <a class="nav-link icon-white" href="#">
              <span class="govco-icon {{lista.icono}}"></span>
              <p class="title-contact-link"> {{lista.titulo}} </p>
            </a>
          </div>         
        </div>
        <div class="submenu-footer d-flex justify-content-center bd-highlight">
          <ul class="pl-sm-0">
            <li *ngFor="let listainferior of listasinferiores">
                <a href="{{listainferior.url}}">
                {{listainferior.titulo}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</footer>